body {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 20px;
margin-top: 50px;
background-color: beige;
}
div.cart {
    border: 2px solid black;
    padding: 20px;
    background-color: lightgray;
    width: 100%;
    height: 450px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    text-align: center;
}
.H1 {
    text-align: center;
    font-size: 40px;
    color: darkblue;
    margin-top: 0px;
    margin-bottom: -10px;
}

.IMG {
    width: 200px;
    height: 350px;
    object-fit: cover;

}
.image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid black;
}

.image:hover {
    transform: scale(1.30);
    transition: transform 0.5s;
    border-radius: 0px;
    border : none
}
.btn-vld {
    background-color: green;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-size: bold;
    margin-bottom: 10px;
    align-items: center;
}
.btn-vld:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    transition: transform 0.5s;

}

h2 {
    font-size: 24px;
    margin: 10px 0;
    background-color: rgba(255, 192, 203, 0.453);
    border-radius: 20px;
    margin: 0 40px;
}

h3.prix {
    font-size: 20px;
    margin: 10px 0;
    background-color: rgba(173, 216, 230, 0.525);
    border-radius: 20px;
    margin: 0 40px;
}

.quantite {
    margin: px;
    width: 30px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.prix-total {
    margin: 0px;
    width: 200px;
    border: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}

.btnPlus{
    background-color: green;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.btnMoins{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0px;
}

.btnPlus:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    transition: transform 0.5s;
}

.btnMoins:hover {
    background-color: gray;
    transform: scale(1.05);
    transition: transform 0.5s;
}

.btn-sup {
    background-color: darkred;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.btn-sup:hover {
    background-color: red;
    transform: scale(1.05);
    transition: transform 0.5s;
}
.fa-heart {
    font-size: 30px;
    color: red;
    cursor: pointer;
    margin-right: 10px;
}
.fa-heart:hover {
    color: darkred;
    transform: scale(1.05);
    transition: transform 0.5s;
}

.fa-solid {
    color: brown;
}